<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
	</head>
	<style>
		*{
			border-box:box-sizing;
			margin: 0;
			padding: 0;
		}

		nav{
			display:flex;
			flex-direction:row;
		}

		nav > div{
			padding-right:10px;
		}
	</style>
	<body>
		<nav>
			<div><a href = "/home">Home</a></div>
			<div><a href = "/book-list">Book List</a></div>
			<div><a href = "/about">About</a></div>
			<div><a href = "/login">Login</a></div>
		</nav>
		<h1>Rent This Book</h1>
		<div class = "flex-row" >
			<div class = "container-book">
					<img src = "<%= result[0].path_img %>"  width = "100" height = "100"/><br />
					Title : <%= result[0].title %><br />
					Author: <%= result[0].author %><br />
					Year  : <%= result[0].year %><br />
					Status: <%= result[0].rent_status %><br />
				<br />
			</div>
		</div>
		<form action = "/rent-book-save" method = "post">
			Borrow Duration (in hour):
			<input type = "text" name = "borrowDuration"><br />
			<input type = submit value = "Rent Now">
		</form>
	</body>
</html>
